<div class="ui padded grid">
  <div class="four wide column">
    <div class="ui large secondary vertical fluid pointing menu">
      <a class="active item">
        My Monitors
        <div class="ui label">32</div>
      </a>
      <a class="item">
        My Monitors
        <div class="ui label">32</div>
      </a>
      <a class="item">
        My Monitors
        <div class="ui label">32</div>
      </a>
      <a class="item">
        My Monitors
        <div class="ui label">32</div>
      </a>
      <a class="item">
        My Monitors
        <div class="ui label">32</div>
      </a>
    </div>
  </div>

  <div class="twelve wide column" style="background-color: #efefef">
    <h2 class="ui header">
      <%= semantic_icon('heartbeat') %>
      <div class="content">
        My Monitors
      </div>
    </h2>
    <div class="ui link items">

      <div class="item">
        <div class="ui tiny image">
          <%= image_tag "eye-128x128.png" %>
        </div>
        <div class="middle aligned content">
          <div class="header">
            Monitor Name Here
          </div>
          <div class="description">
            <p>Monitor Description Here</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui tiny image">
          <%= image_tag "eye-128x128.png" %>
        </div>
        <div class="middle aligned content">
          <div class="header">
            Monitor Name Here
          </div>
          <div class="description">
            <p>Monitor Description Here</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui tiny image">
          <%= image_tag "eye-128x128.png" %>
        </div>
        <div class="middle aligned content">
          <div class="header">
            Monitor Name Here
          </div>
          <div class="description">
            <p>Monitor Description Here</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui tiny image">
          <%= image_tag "eye-128x128.png" %>
        </div>
        <div class="middle aligned content">
          <div class="header">
            Monitor Name Here
          </div>
          <div class="description">
            <p>Monitor Description Here</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui tiny image">
          <%= image_tag "eye-128x128.png" %>
        </div>
        <div class="middle aligned content">
          <div class="header">
            Monitor Name Here
          </div>
          <div class="description">
            <p>Monitor Description Here</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>